body, html {
    background-color: rgb(0, 0, 0);
    background-image: url(http://www.zingerbugimages.com/backgrounds/white_construction_paper_seamless.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-attachment: fixed; 
    
  }
 
.navbar {
    padding: 0px;
    border-bottom: 2px solid lightgrey;
    
}

.navbar-light .navbar-brand {
    color: white;
     
}

.navbar-brand {   
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    background-color: #34ACA6;
    padding: 25px 20px;
    margin-left: 50px;
    fill: auto;
    
    }

li, a {
    font-weight: 500px;
    color: grey; 
    }

.nav_links {
    list-style: none;
    
}
.nav_links li {
    display: inline;
    padding: 0px 20px;
    margin-right: 50px;  
    
}
.nav_links a{
    justify-content: right;
    
    
}
.nav_links a:hover {
    color: blue;
    
}

.contactfield {
    color: grey;
    background-color: white;
    margin-top: 50px;
    width: 475px; 
    padding: 25px 20px;
    margin-left: 50px;  
    margin-bottom: 100px;
    
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #34ACA6;
    font-weight: bold;
}


textarea{
    border: 1px solid lightgrey;
    width: 435px;
    height: 200px;
    color: grey;
    padding: 6px 12px;

}

.btn-primary {
    margin-top: 20px;
    color: #fff;
    background-color: #34ACA6;
    border-color: #34ACA6;
}
 #spaceholder{
    padding: 20px;
    margin: 100px 0px;
}

.container-index{
    border: 1px solid grey;
    color: grey;
    background-color: white;
    margin-top: 50px;
    width: 500px;
    padding: 25px 20px;
    margin-bottom: 100px; 
    margin-left: 45px; 
}

.portfolio-index{
    border: 1px solid grey;
    color: grey;
    background-color: white;
    width: 675px;
    padding: 20px 60px;
    margin: 50px 45px 100px 45px;  
}

#catpic {
    padding-right: 10px;
    height: 165px;
    width: 215px;
    float: left;
}

#stockphotos {
    height: 295px;
    width: 295px;
    padding: 10px;

}
.footer {
    position: absolute;
    line-height: 60px;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
    text-align: center;
    background-color: gray;
    border-top: 4px solid #34ACA6;
    color: white 

}
 
